<!DOCTYPE html>
<html lang="en">

<head>
   <%- include('./partials/header') %>
</head>

<body>
    <%- include('./partials/navbar') %>
    <section class="img-fluid position-relative d-flex align-items-lg-center justify-content-center">
        <div class="container m-auto text-center">
            <h1 class="display-3 text-uppercase fw-bold">play traditional game</h1>
            <h2 class="lead mt-4">Experience new traditional game play</h2>
            <p class="lead mt-3 p-3">
                <button type="button" class="btn btn-warning btn-lg">PLAY NOW</button>
            </p>

            <div class="scroll">
                <p>THE STORY</p>
            </div>
        </div>
    </section>

</body>

</html>